@media screen and (max-width: 400px) {
    .mat-button {
        padding: 0 8px;
    }
}

.lang-menu-item-list {
    display: flex;
    align-items: center;

    img {
        margin-bottom: 0.5em;
    }
}
