<div id="{{controlName}}-div" [ngClass]="inputClass">
    <app-input-label [label]="label" [labelTranslate]="labelTranslate"
        [comment]="labelComment" [required]="isRequired">
    </app-input-label>

    <mat-form-field appearance="outline" class="w-100 mat-form-field-label-out" floatLabel="never" color="primary">
        <input matInput
            type="text"
            [formControl]="formControl"
            [id]="controlName"
            [name]="controlName"
            [minLength]="minLength"
            [maxLength]="maxLength"
            [title]="title"
            [placeholder]="placeholder"
            [readonly]="disabled"
            (change)="sendChangeEvent($event)"
        >

        <mat-error *ngIf="isRequired">
            <mat-icon aria-label="false">cancel</mat-icon>
            <strong>{{ 'FORM_INPUT.REQUIRED' | translate }}</strong>
        </mat-error>

        <mat-error *ngIf="isInvalid">
            <mat-icon aria-label="false">cancel</mat-icon>
            <strong>{{ 'FORM_INPUT.INVALID' | translate }}</strong>
        </mat-error>

        <mat-error *ngIf="minLength && hasError('minLength')">
            <mat-icon aria-label="false">cancel</mat-icon>
            <strong>{{ 'FORM_INPUT.MIN_LENGTH' | translate: { minLength: minLength } }}</strong>
        </mat-error>
    </mat-form-field>
</div>