<div class="dialog-header">
    <div mat-dialog-title>
        <div>{{ 'TRANSLATION' | translate: TRANSLATION.title }}</div>
        <button mat-icon-button mat-dialog-close id="modal-close-btn" 
            matTooltip="{{ 'CLOSE' | translate }}">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div mat-dialog-content>
    <div>
        {{ 'TRANSLATION' | translate: TRANSLATION.instruction }}: 
        <i>[{{ 'TRANSLATION' | translate: TRANSLATION.pairName }}]</i>
        {{SEP}}
        <i>[{{ 'TRANSLATION' | translate: TRANSLATION.imageId }}]</i>
    </div>
    <div class="image-cont">
        <img src="assets/images/upload_diff_images_per_pair_example.png" alt="Image">
    </div>
</div>
