<div id="{{controlName}}-div" [ngClass]="inputClass">
    <app-input-label *ngIf="label || labelTranslate" 
        [label]="label" [labelTranslate]="labelTranslate" [comment]="labelComment" [required]="isRequired">
    </app-input-label>

    <mat-form-field appearance="outline" class="w-100 mat-form-field-label-out" floatLabel="never" color="primary">
        <input matInput 
            type="number" 
            [formControl]="formControl" 
            (change)="sendValueChange($event)" 
            [min]="min"
            [max]="max"
        >
    
        <mat-error *ngIf="isRequired">
            <mat-icon aria-hidden="false">cancel</mat-icon>
            <strong>{{ 'FORM_INPUT.REQUIRED' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="min!=null && formControl.hasError('min')">
            <mat-icon aria-hidden="false">cancel</mat-icon>
            <strong>{{ 'FORM_INPUT.MIN_VALUE' | translate: { min: min } }}</strong>
        </mat-error>
        <mat-error *ngIf="max!=null && formControl.hasError('max')">
            <mat-icon aria-hidden="false">cancel</mat-icon>
            <strong>{{ 'FORM_INPUT.MAX_VALUE' | translate: { max: max } }}</strong>
        </mat-error>
        <mat-error *ngIf="min==null && max==null && isInvalid">
            <mat-icon aria-label="false">cancel</mat-icon>
            <strong>{{ 'FORM_INPUT.INVALID' | translate }}</strong>
        </mat-error>
    </mat-form-field>
</div>