<div class="input-image">
    <app-select-image-src-type label="{{ 'TRANSLATION' | translate: TRANSLATION.srcType }}" 
        [form]="form" [controlName]="myControlName.srcType" [multiple]="multiple"
        (onChange)="onChooseInputType($event)">
    </app-select-image-src-type>

    <div class="form-item">
        <div class="input-preview">
            <div [ngSwitch]="isUrl" [ngClass]="isUrl ? 'form-item' : ''">
                <div *ngSwitchCase="true">
                    <app-input-text label="{{ 'TRANSLATION' | translate: TRANSLATION.url }}" 
                        [form]="form" [controlName]="myControlName.url" (onChange)="onInsertUrl($event)">
                    </app-input-text>
                </div>

                <div *ngSwitchCase="false">
                    <app-upload-image #upload label="{{ 'TRANSLATION' | translate: TRANSLATION.upload }}" 
                        [form]="form" [controlName]="myControlName.upload">
                    </app-upload-image>
                </div>
            </div>

            <app-image-preview [src]="imgPreview" (onDelete)="deleteFile()"></app-image-preview>
        </div>
    </div>
</div>