.input-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}

.input-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.img-preview {
    width: 50px;
    height: auto;
}

.delete-btn {
    margin-top: 0.75rem;
}