<div class="input-image">
    <app-select-image-src-type [form]="form" [controlName]="myControlName.srcType"
        (onChange)="onChooseInputType($event)">
    </app-select-image-src-type>

    <div class="form-item">
        <div class="input-preview">
            <div [ngSwitch]="isUrl" [ngClass]="isUrl ? 'form-item' : ''">
                <div *ngSwitchCase="true">
                    <app-input-text [labelTranslate]="TRANSLATION.url" 
                        [form]="form" [controlName]="myControlName.url" (onChange)="onInsertUrl($event)">
                    </app-input-text>
                </div>

                <div *ngSwitchCase="false">
                    <app-upload #upload [labelTranslate]="TRANSLATION.upload" 
                        [form]="form" [controlName]="myControlName.upload" (onClearInput)="deleteFile()">
                    </app-upload>
                </div>
            </div>

            <app-image-preview [src]="imgPreview" (onDelete)="deleteFile()"></app-image-preview>
        </div>
    </div>
</div>