$primary: mat-color(map-get($my-theme, primary));

.color-primary {
    color: map-get($my-palette-primary, 700) !important;
}

.color-warn {
    color: map-get($my-palette-warn, 500) !important;
}

.color-accent {
    color: map-get($my-palette-accent, 500) !important;
}

.color-success {
    color: map-get($my-palette-success, 400) !important;
}

.bg-white {
    background-color: map-get($my-palette-primary, 50) !important;
}

.bg-dark {
    background-color: map-get($my-palette-primary, 900) !important;
}

.bg-primary {
    background-color: map-get($my-palette-primary, 700) !important;
}

.bg-warn {
    background-color: map-get($my-palette-warn, 500) !important;
}

.bg-accent {
    background-color: map-get($my-palette-accent, 500) !important;
}

.bg-success {
    background-color: map-get($my-palette-success, 400) !important;
}
