<h1 class="color-primary">{{ 'TRANSLATION' | translate: pageTitleTranslation }}</h1>

<div class="main-instructions mb-4">
    <mat-label>{{ 'TRANSLATION' | translate: TRANSLATION.instruction }}</mat-label>

    <div *ngIf="!flag.isDemo" class="upload-config-file">
        <mat-checkbox (change)="onChangeUploadConfigFile($event.checked)" color="primary">
            {{ 'TRANSLATION' | translate: TRANSLATION.uploadConfigFile.checkboxLabel }}
        </mat-checkbox>
        <span class="instruction">
            {{ 'TRANSLATION' | translate: TRANSLATION.uploadConfigFile.instruction }}
        </span>
    </div>
</div>

<app-game-builder-form *ngIf="flag.showForm" [parent]="this"></app-game-builder-form>

<div *ngIf="flag.uploadConfigFile">
    <app-upload #upload (onUpload)="onUploadConfigFile($event, upload)"></app-upload>
</div>