<div class="text-center">
    <h1>{{ 'WELCOME' | translate }}</h1>

    <div class="d-flex-col">
        <span *ngFor="let text of TRANSLATIONS.texts">{{ 'TRANSLATION' | translate: text }}</span>

        <div class="card-id-info-box">
            <div *ngFor="let data of TRANSLATIONS.cardIds" class="card-id-info">
                <div>{{ 'TRANSLATION' | translate: data.text.title }}</div>
                <div>
                    <img [src]="data.src" alt="Image">
                </div>
                <div class="card-id-bottom-text">{{ 'TRANSLATION' | translate: data.text.bottom }}</div>
            </div>
        </div>
    </div>

    <div class="d-flex-col mt-5">
        <button mat-raised-button color="primary" (click)="buildGame()">
            <mat-icon>construction</mat-icon>
            {{ 'TRANSLATION' | translate: TRANSLATIONS.btn.buildGame }}
        </button>

        <button mat-stroked-button color="primary" (click)="playDemo()">
            <mat-icon>sports_esports</mat-icon>
            {{ 'TRANSLATION' | translate: TRANSLATIONS.btn.playDemo }}
        </button>
    </div>
</div>