form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-title {
    flex: 8 0 0;
}
.input-card-id {
    flex: 4 0 0;
}

.input-file {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subtitle {
    font-size: 16px;
}

.d-flex-row {
    align-items: flex-start;
    justify-content: center;
}

.download-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    span {
        text-align: center;
        font-size: 12px;
    }
}
