<div class="board-background" [style.background-image]="backgroundImgSrc">
    <div class="buttons">
        <button mat-icon-button (click)="swapPlaySound()" color="primary" 
            matTooltip="{{ 'TRANSLATION' | translate: soundIcon.tooltip }}">
            <mat-icon>{{ soundIcon.icon }}</mat-icon>
        </button>
        <button mat-stroked-button (click)="newGame()" color="primary">
            <mat-icon>refresh</mat-icon> {{ 'TRANSLATION' | translate: TRANSLATION.btn.newGame }}
        </button>
    </div>

    <div class="board" [ngStyle]="boardStyle">
        <div class="cards">
            <app-memory-card *ngFor="let card of cards" [card]="card" (onSelect)="onChooseCard($event)">
            </app-memory-card>
        </div>
    </div>
</div>