.control-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;

    &.card-count {
        margin-right: 10px;
    }

    &.btn-new-game {
        margin-left: 10px;
    }
}

.board-background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.board-background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.4)
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

.board {
    --card-width: 100px;
    --card-margin: 10px;
    --card-id-font-size: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    opacity: 1 !important;
}
@media screen and (max-width: 767px) {
    .board {
        --card-width: 80px;
        --card-id-font-size: 40px;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

