<app-navbar [parent]="this"></app-navbar>

<div class="board-background" [style.background-image]="backgroundStyle">
    <div>
        <div class="board">
            <div class="board-row" *ngIf="grid">
                <div class="board-grid-space"></div>
                <div class="board-grid-header board-grid-col" *ngFor="let col of grid.columns">
                    {{ col }}
                </div>
            </div>

            <div class="board-row" *ngFor="let cardRow of cardRows; let r=index">
                <div *ngIf="grid">
                    <div class="board-grid-header board-grid-row">
                        {{ grid.rows[r] }}
                    </div>
                </div>

                <app-memory-card *ngFor="let card of cardRow;let c=index" 
                    [card]="card" [showId]="!grid" (onSelect)="onChooseCard($event)">
                </app-memory-card>
            </div>
        </div>
    </div>
</div>