.control-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;

    &.card-count {
        margin-right: 10px;
    }

    &.btn-new-game {
        margin-left: 10px;
    }
}

.board-background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.board-background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.4)
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1 !important;
}
