.control-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;

    &.card-count {
        margin-right: 10px;
    }

    &.btn-new-game {
        margin-left: 10px;
    }
}

.board-background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.board-background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.4)
}

.new-game-btn {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
}

.board-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.board-grid-space {
    width: 30px;
}
.board-grid-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Quicksand;
    font-size: 48px;
}
.board-grid-col {
    width: 100px;
    margin: 0 10px 16px 10px;
}
.board-grid-row {
    height: 100px;
    margin: 10px 0;
}
