<div class="input-image">
    <div class="input-img-buttons">
        <button mat-icon-button mat-stroked-button type="button" (click)="onChooseInputType(true)" 
            matTooltip="Inserir URL" color="primary">
            <mat-icon>link</mat-icon>
        </button>

        <button mat-icon-button mat-stroked-button type="button" (click)="onChooseInputType(false)" 
            matTooltip="Fazer upload" color="primary">
            <mat-icon>upload</mat-icon>
        </button>
    </div>

    <div [ngSwitch]="isUrl" class="form-item">
        <div class="input-preview">
            <img *ngIf="imgPreview" [src]="imgPreview" class="img-preview" alt="Imagem">

            <div *ngSwitchCase="true" class="form-item">
                <app-input-text label="URL" [form]="form" [controlName]="urlControlName" (onChange)="onInsertUrl($event)">
                </app-input-text>
            </div>

            <div *ngSwitchCase="false">
                <app-upload-image label="Selecione imagem" [form]="form" [controlName]="uploadControlName">
                </app-upload-image>
            </div>
        </div>
    </div>
</div>