<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu" matTooltipPosition="right" aria-label="Menu">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="toolbar-title">{{ title }}</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
            <mat-list-item *ngFor="let menu of menuList" (click)="sidenav.close(); goTo(menu)">
                <mat-icon color="primary">{{ menu.icon }}</mat-icon>
                <span class="mb-0 ms-1">{{ menu.text }}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
