.mat-toolbar-row {
    height: 80px !important;
    white-space: normal;
}

@media screen and (max-width: 540px) {
    .mat-toolbar-row  {
        height: 65px !important;
        padding: 0 8px;
    }
}

.toolbar-title {
    text-align: center;
    margin: auto;
    font-family: Quicksand;
    font-size: 48px;
}
@media screen and (max-width: 550px) {
    .toolbar-title {
        font-size: 30px;
        line-height: 30px;
    }
}
@media screen and (max-width: 360px) {
    .toolbar-title {
        font-size: 20px;
        line-height: 30px;
    }    
}

.sidenav {
    width: 220px;
}
@media screen and (max-width: 290px) {
    .sidenav {
        width: auto;
    }    
}

.content {
    height: calc(100vh - 11vh);
    padding: 1rem;
}
