.mat-toolbar-row {
    height: 80px !important;
}

.toolbar-title {
    margin-left: auto;
    margin-right: auto;
    font-family: Quicksand;
    font-size: 48px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sidenav {
    width: 220px;
}

.content {
    height: calc(100vh - 11vh);
    padding: 1rem;
}
