<div class="form-line">
    <app-select-yes-no label="{{ 'TRANSLATION' | translate: TRANSLATION.input.singleCardPerPair }}" 
        [form]="form" [controlName]="input.singleCardPerPair" (onChange)="onChangeSingleImgPerPair()">
    </app-select-yes-no>

    <app-select-yes-no label="{{ 'TRANSLATION' | translate: TRANSLATION.input.addCustomSoundsPerCard }}" 
        [form]="form" [controlName]="input.addCustomSoundsPerCard" (onChange)="onChangeAddCustomSoundPerPair()">
    </app-select-yes-no>

    <app-select-image-src-type [form]="form" [controlName]="input.cardSrcType" [multiple]="true"
        (onChange)="onChangeCardImageSrcType($event)">
    </app-select-image-src-type>

    <div [ngSwitch]="addUrls">
        <app-input-number *ngSwitchCase="true"
            [labelTranslate]="TRANSLATION.input.numPairs" 
            [form]="form" [controlName]="input.numPairs" [min]="MIN_NUM_PAIRS"
            (onChange)="onChangeNumPairsForUrl($event)">
        </app-input-number>
        
        <app-upload *ngSwitchCase="false"
            [isImage]="true" [labelTranslate]="TRANSLATION.input.cards.upload.pickDirPath" 
            [form]="form" [controlName]="input.cardImages" [selectAllDir]="true">
        </app-upload>
    </div>
</div>

<div *ngIf="showFilePatternWarning" class="file-warning">
    <mat-icon>warning</mat-icon>
    <span>
        {{ 'TRANSLATION' | translate: TRANSLATION.input.cards.upload.diffImagesPerPair.warning }}
        <a class="example-link" (click)="openExample()">
            {{ 'TRANSLATION' | translate: TRANSLATION.input.cards.upload.diffImagesPerPair.warningLink }}
        </a>.
    </span>
</div>

<div [@showContent]="stateUrlInputs">
    <div *ngIf="urlPairConfig" class="form-line">
        <div class="form-item mt-3">
            <app-card-images-url-input [form]="form" [controlName]="input.cardImages" [urlPairConfig]="urlPairConfig">
            </app-card-images-url-input>
        </div>
    </div>
</div>