<div class="form-line">
    <app-select-yes-no label="{{ 'TRANSLATION' | translate: TRANSLATION.singleCardPerPair }}" 
        [form]="form" [controlName]="FORM_INPUT.singleCardPerPair" (onChange)="onChangeSingleImgPerPair()">
    </app-select-yes-no>

    <app-select-yes-no label="{{ 'TRANSLATION' | translate: TRANSLATION.addCustomSoundsPerCard }}" 
        [form]="form" [controlName]="FORM_INPUT.addCustomSoundsPerCard" (onChange)="onChangeAddCustomSoundPerPair()">
    </app-select-yes-no>

    <app-select-image-src-type [form]="form" [controlName]="FORM_INPUT.cardSrcType" [multiple]="true"
        (onChange)="onChangeCardSrcType($event)">
    </app-select-image-src-type>
</div>

<div [ngSwitch]="flag.addUrls" class="form-line mt-3 mb-3">
    <app-input-number *ngSwitchCase="true"
        [labelTranslate]="TRANSLATION.numPairs" 
        [form]="form" [controlName]="FORM_INPUT.numPairs" [min]="MIN_NUM_PAIRS"
        (onChange)="onChangeNumPairsForUrl($event)">
    </app-input-number>

    <div *ngSwitchCase="false" class="d-flex-col">
        <div class="upload-inputs">
            <app-upload
                [fileType]="UploadFileType.IMAGE" [labelTranslate]="TRANSLATION.cards.upload.pickDirPath" 
                [form]="form" [controlName]="FORM_INPUT.upload.images" [selectAllDir]="true"
                (onUpload)="receiveUploads(FORM_INPUT.upload.audios)">
            </app-upload>

            <app-upload
                [fileType]="UploadFileType.AUDIO" [labelTranslate]="TRANSLATION.cards.upload.pickDirPath" 
                [form]="form" [controlName]="FORM_INPUT.upload.audios" [selectAllDir]="true"
                (onUpload)="receiveUploads(FORM_INPUT.upload.images)">
            </app-upload>
        </div>
        <div *ngIf="invalidUploadMsg" class="mat-custom-error">
            <mat-icon aria-label="false">cancel</mat-icon>
            <strong>{{ 'TRANSLATION' | translate: invalidUploadMsg }}</strong>
        </div>

        <div *ngIf="flag.showFilePatternWarning" class="file-warning">
            <mat-icon>warning</mat-icon>
            <span>
                {{ 'TRANSLATION' | translate: TRANSLATION.cards.upload.diffImagesPerPair.warning }}
                <a class="example-link" (click)="openExample()">
                    {{ 'TRANSLATION' | translate: TRANSLATION.cards.upload.diffImagesPerPair.warningLink }}
                </a>.
            </span>
        </div>
    </div>
</div>

<div [@showContent]="stateUrlInputs">
    <div *ngIf="urlPairConfig" class="form-line">
        <div class="form-item mt-3">
            <app-card-images-url-input [form]="form" [controlName]="FORM_INPUT.urls" [urlPairConfig]="urlPairConfig">
            </app-card-images-url-input>
        </div>
    </div>
</div>