.layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.upload-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2rem;
}

.file-warning {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #e89c12;
    color: white;
    padding: 4px;
    border-radius: 2px;
    max-width: max-content;
}

.num-pairs {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: flex-start;

    button {
        margin-top: 1.5rem;
    }
}

.example-link {
    cursor: pointer;
    text-decoration: underline;
}
