<div class="form-line">
    <app-select-yes-no label="{{ 'TRANSLATION' | translate: TRANSLATION.input.singleImgPerPair }}" 
        [form]="form" controlName="singleImgPerPair" (onChange)="onChangeSingleImgPerPair()">
    </app-select-yes-no>

    <app-select-image-src-type [form]="form" controlName="cardImageSrcType" [multiple]="true"
        (onChange)="onChangeCardImageSrcType($event)">
    </app-select-image-src-type>

    <div [ngSwitch]="cardImageSrcType">
        <div *ngSwitchCase="IMAGE_SRC_TYPE.URL" class="num-pairs">
            <app-input-number label="{{ 'TRANSLATION' | translate: TRANSLATION.input.numPairs }}" 
                labelComment="{{ 'TRANSLATION' | translate: TRANSLATION.input.numPairsComment }}"
                [form]="form" controlName="numPairs" [min]="MIN_NUM_PAIRS">
            </app-input-number>

            <button mat-stroked-button type="button" color="primary" (click)="addUrlPairs()" 
                [disabled]="disableAddUrlPairsBtn">
                <mat-icon>add</mat-icon> 
                {{ 'TRANSLATION' | translate: TRANSLATION.input.cardImages.url.addUrlsBtn }}
            </button>
        </div>
        
        <app-upload-image *ngSwitchCase="IMAGE_SRC_TYPE.UPLOAD" 
            label="{{ 'TRANSLATION' | translate: TRANSLATION.input.cardImages.upload.pickDirPath }}" 
            [form]="form" controlName="cardImages" [selectAllDir]="true">
        </app-upload-image>
    </div>
</div>

<div *ngIf="showFilePatternWarning" class="file-warning">
    <mat-icon>warning</mat-icon>
    <span>
        {{ 'TRANSLATION' | translate: TRANSLATION.input.cardImages.upload.diffImagesPerPair.warning }}
        <a class="example-link" (click)="openExample()">
            {{ 'TRANSLATION' | translate: TRANSLATION.input.cardImages.upload.diffImagesPerPair.warningLink }}
        </a>.
    </span>
</div>

<div *ngIf="showCardImageUrlInputs" class="form-line">
    <div class="form-item mt-3">
        <app-card-images-url-input [form]="form" controlName="cardImages" [pairConfig]="pairConfig">
        </app-card-images-url-input>
    </div>
</div>