<div class="dialog-header">
    <div mat-dialog-title>
        <div>Envio de arquivos diferentes por par</div>
        <button mat-icon-button mat-dialog-close id="modal-close-btn" matTooltip="Fechar">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div mat-dialog-content>
    <div>
        Exemplo de nome para arquivos de images para cada par:
        <i>[pair name]</i>{{SEP}}<i>[image identification]</i>
    </div>
    <div class="image-cont">
        <img src="assets/images/upload_diff_images_per_pair_example.png" alt="Image">
    </div>
</div>
