<div class="control-panel">
    <mat-radio-group aria-label="Select an option" class="card-count" (change)="changeCount($event.value)">
        <mat-radio-button [value]="8">8x2</mat-radio-button>
        <mat-radio-button [value]="12">12x2</mat-radio-button>
        <mat-radio-button [value]="16">16x2</mat-radio-button>
        <mat-radio-button [value]="24">24x2</mat-radio-button>
    </mat-radio-group>
    <button class="btn-new-game" mat-button color="primary" (click)="newGame()">New Game</button>
</div>

<mat-divider></mat-divider>
<div class="board" [style.width.px]="boardWidth">
    <app-memory-card *ngFor="let card of cards;let i=index" [id]="i+1" [card]="card"></app-memory-card>
</div>