h1 {
    font-family: Quicksand !important;
}

.main-instructions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.d-flex-row {
    align-items: flex-start;
    justify-content: center;
}
