@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/styles/theme.scss";
@import "assets/styles/mat-form-field";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-button.mat-primary .mat-button-focus-overlay {
    background-color: transparent !important;
}

.mat-toolbar-row {
    height: 80px !important;
}

.title {
    margin-left: auto;
    margin-right: auto;
    font-family: Quicksand;
    font-size: 48px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.quicksand {
    font-family: Quicksand;
}

.custom-toast-title {
    color: white !important;
}
.swal2-icon.swal2-info {
    border-color: #9de0f6 !important;
    color: #9de0f6 !important;
}
.swal2-success-ring {
    border-color: #a5dc86 !important;
    color: #a5dc86 !important;
}
.swal2-icon.swal2-warning {
    border-color: #facea8 !important;
    color: #facea8 !important;
}
.swal2-close:hover {
    color: #d1d1d1 !important;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    flex-wrap: wrap;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.form-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 1em;
    row-gap: 0.5em;
}

.form-item {
    flex: 1 0 0;
}
