@import "assets/styles/mat-form-field";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-button.mat-primary .mat-button-focus-overlay {
    background-color: transparent !important;
}

.quicksand {
    font-family: Quicksand;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    flex-wrap: wrap;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.form-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 1em;
    row-gap: 0.5em;
}

.form-item {
    flex: 1 0 0;
}
