<div class="card" [ngClass]="{rotated: isRotated}" (click)="onClick()">
    <div class="card-inner">
        <div  class="front">
            <img *ngIf="card.img" [src]="card.img.base64" alt="card">
        </div>

        <div class="back bg-primary">
            <fa-icon *ngIf="showFrontAsIcon; else showCardId" [icon]="card.icon" size="3x"></fa-icon>
            <ng-template #showCardId>
                <div class="card-id-number quicksand">{{ card.id }}</div>
            </ng-template>
        </div>
    </div>
</div>