<div class="card" [ngClass]="{rotated: isRotated}" (click)="onClick()">
    <div class="card-inner">
        <div  class="front">
            <img *ngIf="card.img" [src]="card.img.base64" alt="card">
        </div>

        <div class="back bg-primary-2">
            <div [ngSwitch]="cardIdType">
                <fa-icon *ngSwitchCase="ID_TYPE.IMAGES" [icon]="card.icon" size="3x"></fa-icon>

                <div *ngSwitchDefault class="card-id-number quicksand">{{ card.id }}</div>
            </div>
        </div>
    </div>
</div>