.card-id-number {
    font-size: var(--card-id-font-size);
    font-weight: bold;
}

.card {
    height: var(--card-width);
    width: var(--card-width);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: var(--card-margin);
    cursor: pointer;

    img {
        width: var(--card-width);
        height: auto;
        border-radius: 4px;
    }

    .front,
    .back {
        border-radius: 4px;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
    }

    .back {
        color: white;
    }

    .front {
        transform: rotateY(180deg);
        background-color: white;
    }
}

.card-inner {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.rotated {
    .card-inner {
        transform: rotateY(180deg);
    }
}
