<div class="card" [ngClass]="{rotated: isRotated}" (click)="onClick()">
    <div class="card-inner">
        <div  class="front">
            <img *ngIf="card.img" [src]="card.img.base64" alt="card">
        </div>

        <div class="back bg-primary-2">
            <div [ngSwitch]="frontIdType">
                <div *ngSwitchCase="FRONT_ID_TYPE.NUMBERS" class="card-id-number quicksand">{{ card.id }}</div>
                
                <fa-icon *ngSwitchCase="FRONT_ID_TYPE.IMAGES" [icon]="card.icon" size="3x"></fa-icon>
            </div>
        </div>
    </div>
</div>