<div>
    <mat-label>Selecione como deseja inserir as informações para o jogo:</mat-label>

    <div class="form-line mt-2 ms-4">
        <app-radio-group-model [options]="options.inputType" [defaultOptionValue]="inputType"
            (onChange)="onChangeInputType($event)">
        </app-radio-group-model>
    </div>
</div>

<div [ngSwitch]="inputType" class="mt-4">
    <div *ngSwitchCase="INPUT_TYPE.MANUALLY">
        <form *ngIf="form" [formGroup]="form">
            <div class="form-line">
                <app-input-text class="input-title" label="Título" [form]="form" controlName="title"></app-input-text>

                <app-select class="input-card-id" label="Tipo de identificação das posições das cartas" 
                    [form]="form" controlName="cardIdType" [options]="options.cardId">
                </app-select>
            </div>

            <div class="form-line">
                <app-select label="Imagem de fundo?"
                    [form]="form" controlName="addBackgroundImg" [options]="options.yesNo" 
                    (onChange)="onChangeAddBackgroundImg($event)">
                </app-select>

                <div *ngIf="flag.addBackgroundImg" class="form-item">
                    <app-input-image [form]="form" controlName="backgroundImgSrc"></app-input-image>
                </div>
            </div>

            <div class="form-line">
                <app-select label="Cada par possui imagens iguais?" 
                    [form]="form" controlName="singleImgPerPair" [options]="options.yesNo">
                </app-select>

                <app-select label="Como deseja inserir imagens da cartas?"
                    [form]="form" controlName="cardImagesInputWay" [options]="options.cardImagesInputWay" 
                    (onChange)="onChangeCardImagesInputWay($event)">
                </app-select>

                <app-upload-image *ngIf="cardImgInputType == CARD_IMG_INPUT_TYPE.UPLOAD" 
                    label="Selecione a pasta quem contém as imagens das cartas" 
                    [form]="form" controlName="cardImages" [selectAllDir]="true">
                </app-upload-image>
            </div>

            <div *ngIf="cardImgInputType == CARD_IMG_INPUT_TYPE.URL" class="form-line">
                <app-input-image-url-multiple *ngSwitchCase="CARD_IMG_INPUT_TYPE.URL" 
                    [form]="form" controlName="cardImages">
                </app-input-image-url-multiple>
            </div>
        </form>

        <div class="mt-4 text-center">
            <button mat-raised-button type="submit" color="primary" (click)="submit()">Criar jogo</button>
        </div>
    </div>

    <div *ngSwitchCase="INPUT_TYPE.CONFIG_FILE">
        <input type="file" #inputFile hidden (change)="onSelectConfigFile($event)" accept="txt">
        <button mat-raised-button color="primary" (click)="inputFile.click()">Selecionar arquivo</button>
    </div>
</div>
