.main-instructions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-title {
    flex: 8 0 0;
}
.input-card-id {
    flex: 4 0 0;
}

.input-file {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subtitle {
    font-size: 16px;
}
